body{
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh; 
    width: 100%;
}

.text {
    flex: 1;
    padding: 50px;
    font-family: Arial, sans-serif; 
}

.text h1 {
    font-size: 32px;
    color: #fff;
    margin-bottom: 20px;
}

.text p {
    font-size: 20px;
    color: #fff;
}

