<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/form.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar-custom">
            <a class="logo" href="./index.html">FastPizza</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Cadastro</a></li>
                <li><a href="#">Cardápio</a></li>
                <li><a href="#">Pedidos</a></li>
                <li><a href="#">Promoções</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form-container">
            <h3>Esqueceu a Senha?</h3>
            <form action="#" method="POST">
                <div class="input-group">
                    <label for="username">Email</label>
                    <input type="text" id="email" name="email" placeholder="Digite seu Email" required>
                </div>
                <button type="submit" class="submit-btn">Entrar</button>
            </form>
        </div>
    </main>
    <script src="../static/mobile.js"></script>
</body>
</html>
