<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastPizza</title>
    <link rel="stylesheet" href="../static/navbar.css">
    <link rel="stylesheet" href="../static/style.css" />
</head>
<body>
    <header>
      <nav>
        <a class="logo" href="/">FastPizza</a>
        <div class="mobile-menu">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>
        <ul class="nav-list">
          <li><a href="/">Home</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Cadastro</a></li>
          <li><a href="/menu">Cardápio</a></li>
          <li><a href="/pedidos">Pedidos</a></li>
          <li><a href="/promocoes">Promoções</a></li>
          <li><a href="/logout">Sair</a></li>
      </ul>        
      </nav>
      </header>
      <main>
        <div class="container">
          <div class="text">
            <h1>Bem-vindo à FastPizza</h1>
            <p>Bem-vindo à FastPizza, o lugar onde a paixão pela pizza se transforma em <br> sabores
              irresistíveis! Nosso site foi criado para proporcionar uma experiência <br> rápida, prática
              e deliciosa, garantindo que você tenha acesso ao melhor <br> cardápio
              de pizzas artesanais com apenas alguns cliques.</p>
        </div>
            <img src="../static/images/pizza.png" style="width: 500px; height: 500px; margin-right: 50px;" alt="">
        </div>
    </main>
    <script src="../static/mobile.js"></script>
    <script src="../static/request.js"></script>
</body>
</html>